### --- REGLAS GENERALES --- ###
# Ignorar la carpeta target en cualquier nivel (para que no se suba la que dejaste local)
**/target/
target/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

### --- INTELLIJ & IDEs --- ###
# Ignorar configuraciones de IntelliJ en la raíz y en subcarpetas
.idea/
**/ .idea/
*.iml
*.iws
*.ipr
out/
**/out/

### --- PYTHON --- ###
# Ignorar archivos temporales de Python (por si ejecutas algo en esa carpeta)
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

### --- MAVEN WRAPPER --- ###
# Permitir solo el jar necesario para que Maven funcione si alguien baja tu proyecto
!.mvn/wrapper/maven-wrapper.jar

### --- VS CODE & OTROS --- ###
.vscode/
.settings/
.classpath
.project